<!-- begin: Header -->
<div ktHeader #ktHeader class="kt-header kt-grid__item" [ngClass]="htmlClassService.getClasses('header', true)" id="kt_header">
	<ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async" height="3px"></ngb-progressbar>
	<div class="kt-header__top" style="
    height: 51px;
">
		<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
			<!-- begin:: Brand -->
			<kt-brand></kt-brand>
			<!-- end:: Brand -->
			<!-- begin:: Header Topbar -->
			<kt-topbar></kt-topbar>
			<!-- end:: Header Topbar -->
		</div>
	</div>
<!--	<div class="kt-header__bottom">-->
<!--		<div class="kt-container" [ngClass]="{'kt-container&#45;&#45;fluid': fluid}">-->
<!--			&lt;!&ndash; begin: Header Menu &ndash;&gt;-->
<!--&lt;!&ndash;			<kt-menu-horizontal *ngIf="menuHeaderDisplay"></kt-menu-horizontal>&ndash;&gt;-->
<!--			&lt;!&ndash; end: Header Menu &ndash;&gt;-->
<!--		</div>-->
<!--	</div>-->
</div>
<!-- end: Header -->
